@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --window-size: calc(90vh - 80px);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
}

h1,
h2{
    font-family: 'Poppins';
    text-align: center;
}



.flex{display: flex;}
.container{height: var(--window-size);}

/* Inicio de la rama INICIO */

#container-initial1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 2.5rem 1.5rem;
}

h1{
    font-weight: 700;
    color: var(--very-dark-cyan)

}

.main-text>p{
    margin: 1.5rem 0 2rem 0;
    font-weight: 400;
    color: var(--very-dark-cyan)
}

.botton-rosa{
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    padding: .7rem 2rem;
    margin: 1rem;
    border-radius: 3.4rem;
    font-size: .8rem;
}

.initial-image{
    margin-left: 3rem;
}

#container-initial2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:  3.5rem;
}

#container-initial2 img{
    width: 2rem;
}

#container-initial2 .big-number{
    font-size: 3.5rem;
    font-weight: 800;
}

#container-initial2 .small-text-block{
    font-size: 1rem ;
    color: var(--very-dark-cyan);
    padding-top: .3rem;
    padding-left: 1rem;
    opacity: .8;
}

.first-block{
    margin-bottom: 3rem;
}

.second-block{
    margin: 2.5rem 0;
    padding-bottom: 5rem;
}

.stats{
    background :url('../images/bg-section-top-mobile-1.svg') no-repeat bottom;
    background-size: contain;
}

/*PANEL1*/
.grow{
    flex-direction: column;
    padding-top: 5rem;
    background-color: #F6FBFF;
}

.grow>img{
    background-color: #fff;
}

.grow>div>img,
.flowing>div>img{
    width:80%;
    position: relative;
    left: 10%;
}

.grow>div,
.flowing>div{
    position:relative;
    top: 5%;
}

.flowing{
    flex-direction: column;
    background-color: #fff;
    background-image: url('../images/bg-section-bottom-mobile-1.svg') no-repeat top;
    background-size: contain;
}

.content>h2,
.content>h2{
    padding: 2rem;
}

.content>p,
.content>p{
    width: 80%;
    text-align: center;
    position: relative;
    left: 10%;
}


 /* INICIO RESPONSIV */
@media only screen and ( min-width: 600px ){
    .main-text>p{
        margin: 1rem 5rem;
    }

    #container-initial2 .big-number{
        font-size: 5rem;
    }
    
    #container-initial2 .small-text-block{
        font-size: 1.5rem ;
    }



}

@media only screen and ( min-width:768px){
    h1{
        font-size: 1.5rem;
    }
    .main-text>p{
        margin: 1rem 5rem;
    }

    #container-initial2 img{
        width: 3rem;
    }
    
    #container-initial2 .big-number{
        font-size: 6.5rem;
    }
    
    #container-initial2 .small-text-block{
        font-size: 1.8rem ;
    }    
}

@media only screen and ( min-width:992px){
    h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    #container-initial1{
        justify-content: center;
        text-align: center;
        margin: 5rem 1rem
    }

    .main-text>p{
        color: var(--very-dark-cyan);
        font-size: .8rem;
    }

    .botton-rosa{
        margin-top: 3rem;
        font-size: .9rem;
        padding: 1.1rem 4.5rem;
    }
    .botton-rosa:hover{
        cursor: pointer;
        border: 3px solid var(--pink)
    }

    .initial-image{
        width: 85%;
        margin-left: 9rem;
        margin-bottom: 7.5rem;
    }

    #container-initial2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .second-block{
        margin-top: -.9rem;
    }

    #container-initial2 img{
        width: 2rem;
    }

    #container-initial2 .big-number{
        font-size: 4.1rem;
    }

    #container-initial2 .small-text-block{
        font-size: 1rem;
    }

    .stats{
        background :url('../images/bg-section-top-desktop-1.svg') no-repeat bottom;
        background-size: contain;
    }

    .grow{
        margin-top: 0%;
    }

    .grow>div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 80%;
        left: 10%;
        
    }

    .flowing>div{
        display: flex;
        justify-content: space-around;
        width: 80%;
        left: 10%;
    }

    .grow>div>img,
    .flowing>div>img{
        width: 40%;
        left: auto;
    }


    .content{
        font-size: 16px;
        align-self: center;
    }

}

@media only screen and ( min-width:1200px){
    .main-text>p{
        font-size: 1.3rem;
    }
}

@media only screen and ( min-width:1440px){
    h1{
        font-size: 3rem;
    }

    .main-text>p{
        font-size: 1.3rem;
        margin: 0 23rem;
    }

    .main-text{
        font-size: 1rem;
    }

    .botton-rosa{
        font-size: 1.2rem;
        padding: 1.6rem 6.5rem;
    }

    .initial-image{
        width: 85%;
    }

    #container-initial2 img{
        width: 3rem;
    }

    #container-initial2 .big-number{
        font-size: 5.5rem;
    }

    #container-initial2 .small-text-block{
        font-size: 1.5rem;
    }


} 


